body {
    background-color: #ffffff;
    padding: 20px;
    margin: 0;
}

.title {
    color: black;
}

h1, h2, p, ul, li {
    font-family: sans-serif;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #5c9ce9;
    padding: 0;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #FFF;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.row {
    padding: 10px;
    width: 70%;
}

.col-md-3 {
    border: 1px solid rgb(177, 177, 189);
    border-radius: 8px;
    margin-right: 30px;
}

.konten {
    width: 50%;
    border: 3px solid blue;
}